@import 'src/layout/responsive.mixin.scss';

.container {
    margin-top: 52px;

    .titleContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .title {
            color: gray;
            text-transform: lowercase;
            white-space: pre-wrap;
        }
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .imageContainer {
            display: flex;
            justify-content: center;

            max-width: 80%;

            @include less-than-md {
                max-width: 100%;
            }

            .image {
                border-radius: 12px;
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .caption {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            padding-top: 12px;
            width: 80%;

            @include less-than-md {
                width: 100%;
            }
        }
    }
}
