@import '@/styles/typography.mixin.scss';

p {
    margin: 0;
}

html {
    --font-family: 'PPAgrandir', Helvetica, Arial, sans-serif;

    --color-background: rgb(250, 250, 250);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;

    overflow: hidden;

    display: flex;
    flex-direction: row;
}

main {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

@mixin defaultTypeStyle {
    &.font-light {
        font-family: var(--font-family);
        font-weight: 250;
    }
    &.font-medium {
        font-family: var(--font-family);
        font-weight: 700;
    }
    &.font-normal {
        font-family: var(--font-family);
        font-weight: 400;
    }
    &.font-bold {
        font-family: var(--font-family);
        font-weight: 900;
    }
    &.uppercase {
        text-transform: uppercase;
    }
    &.lowercase {
        text-transform: lowercase;
    }
    &.transform-none {
        text-transform: none;
    }
}

h1 {
    @include h1;
}
h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

h6 {
    @include h6;
}

// Text, Number, and Button styles can be applied to any element except the heading elements which have their own styling
:not(h1, h2, h3, h4, h5, h6) {
    // text styles
    &.p1 {
        @include p1;
    }
    &.p2 {
        @include p2;
    }
    &.p3 {
        @include p3;
    }
    &.p4 {
        @include p4;
    }
    &.p5 {
        @include p5;
    }
}
