@import 'src/layout/responsive.mixin.scss';

.blogPage {
    display: flex;
    flex-direction: row;

    height: 100vh;
    overflow-y: hidden;

    .menuContainer {
        display: flex;
        flex-direction: column;
        padding: 12px 12px;

        height: 100vh;
        width: 248px;
        overflow-y: scroll;

        box-sizing: border-box;
        margin-bottom: 200px;

        background-color: var(--color-background);
        border-right: 1px solid var(--border-gray);


        .activeLink {
            background-color: black !important;
            color: white !important;
        }

        .blogLink {
            text-decoration: none; /* no underline */
            cursor: pointer;
            border-radius: 12px;
            color: black;

            padding: 12px 12px;

            .caption {
                color: var(--text-gray);
            }
        }

        .blogLink:hover {
            background-color: var(--hover-gray);
        }
    }
}