@import 'src/layout/responsive.mixin.scss';

.navigationContainer {
    @include greater-than-md {
        height: 100%;
        width: 200px;
        background-color: var(--color-background);
        border-right: 1px solid var(--border-gray);
        padding: 12px;

        display: flex;
        flex-direction: column;
    }

    .hamburger {
        display: none;

        @include less-than-md {
            display: flex;
        }
        width: 100%;
        border: 2px solid var(--border-gray);

        .icon {
            width: 25px;
            height: 25px;
            padding: 4px 8px;
            border-radius: 12px;
        }
    }

    .openMenu {
        @include less-than-md {

        }
    }

    .sideMenu {
        @include less-than-md {
            display: none;
        }

        &.openMenu {
            @include less-than-md {
                display: flex !important;
                flex-direction: column;
                width: 80%;
                position: absolute;
                background-color: var(--color-background);
                height: 100%;
            }
        }


        .nameHeading {
            padding-left: 8px;
            height: 92px;

            .text {
                @include less-than-md {
                    padding-top: 20px;
                }
            }
        }
    }
}
