@import 'src/layout/responsive.mixin.scss';

.activeLink {
    background-color: black;
    color: white !important;

    & > .icon {
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(105%)
            contrast(101%);
    }
}

.link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 8px;
    margin: 4px 0px;
    border-radius: 4px;
    height: 25px;

    color: inherit;
    text-decoration: none; /* no underline */

    .icon {
        fill: gray;
        color: gray;
        margin-right: 12px;

        height: 15px;
        width: auto;
    }
}

.link:hover:not(.activeLink) {
    background-color: var(--hover-gray);
    color: black;
}
