@import '@/styles/typography.mixin.scss';

html {
    --font-family-light: 'ProximaNova-Light', 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
    --font-family-normal: 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
    --font-family-medium: 'ProximaNova-Medium', 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
    --font-family-semibold: 'ProximaNova-Semibold', 'ProximaNova-Regular', Helvetica, Arial,
        sans-serif;
    --font-family-bold: 'ProximaNova-Bold', 'ProximaNova-Regular', Helvetica, Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;

    overflow: hidden;
}

@mixin defaultTypeStyle {
    &.font-normal {
        font-family: var(--font-family-normal);
    }
    &.font-bold {
        font-family: var(--font-family-bold);
    }
    &.font-semibold {
        font-family: var(--font-family-semibold);
    }
    &.uppercase {
        text-transform: uppercase;
    }
    &.transform-none {
        text-transform: none;
    }
}

h1 {
    @include h1;
}
h2 {
    @include h2;
}

h3 {
    @include h3;
}

h4 {
    @include h4;
}

h5 {
    @include h5;
}

h6 {
    @include h6;
}

// Text, Number, and Button styles can be applied to any element except the heading elements which have their own styling
:not(h1, h2, h3, h4, h5, h6) {
    // text styles
    &.p1 {
        @include p1;
    }
    &.p2 {
        @include p2;
    }
    &.p3 {
        @include p3;
    }
    &.p4 {
        @include p4;
    }
    &.p5 {
        @include p5;
    }
}
