.comingSoon {
    height: 100vh;
    background-color: black;

    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 125px;
    line-height: 152px;

    display: flex;
    
}
